<div ng-include src="'./core/view/header.html'"></div>
<div growl></div>
<div class="container">
    <div class="row">
        <div class="span12">
            <div class="row">
                <div class="span12">
                    <table class="table table-condensed ">
                        <thead>
                            <tr>
                                <th>NIK</th>
                                <th>Nama</th>
                                <th>Alamat</th>
                                <th>Telpon</th>
                                <th>Email</th>       
                                <th >Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="v in dosen" class="repeat-item">
                                <td><h5> {{v.nik}} </h5></td>
                                <td><h5> {{v.nama}} </h5></td>
                                <td><h5> {{v.alamat}} </h5></td>
                                <td><h5> {{v.telpon}} </h5></td>
                                <td><h5> {{v.email}} </h5></td>

                                <td style="width: 2%;">
                                    <button  ng-click="modalDosen('Edit', v.staff_id)" class="btn-small btn-info" type="button"><h6>Edit</h6></button>
                                </td>
                                <td style="width: 2%;">
                                    <button  ng-click="delete(v.userid)" class="btn-small btn-info" type="button"><h6>Delete</h6></button>
                                </td>
                            </tr>

                        </tbody>
                    </table>

                </div>
            </div>

        </div>
    </div>
</div>
<div class="modal {{modaloption}} " data-ng-init="modaloption = 'hide'">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" data-ng-click="closeModal()" aria-hidden="true"></button>
        <h3 style="color: #040404">{{action}} Data</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <div class="control-group">
                <label class="control-label"style="color: #040404">NIK</label>
                <div class="controls">
                    <div class="span12" >
                        <input type="text" name="nik" class="span3"  ng-model="data.nik" />
                        <input type="hidden" name="userid" class="span3"  ng-model="data.staff_id" />
                    </div>
                </div>
            </div>
            <div class="control-group" ng-if="action ==='Tambah'">
                <label class="control-label"style="color: #040404">Username</label>
                <div class="controls">
                    <div class="span12" >
                        <input type="text" name="username" class="span3"  ng-model="data.username"/>
                    </div>
                </div>
            </div>
            <div class="control-group" ng-if="action ==='Tambah'">
                <label class="control-label"style="color: #040404">Password</label>
                <div class="controls">
                    <div class="span12" >
                        <input type="password" name="password" class="span3"  ng-model="data.password"/>
                    </div>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label"style="color: #040404">Nama</label>
                <div class="controls">
                    <div class="span12" >
                        <input type="text" name="nama" class="span3"  ng-model="data.nama" />
                    </div>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" style="color: #040404">alamat</label>
                <div class="controls">
                    <div class="span12">
                        <textarea type="text" name="alamat" class="span3" ng-model="data.alamat" />
                    </div>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" style="color: #040404">telpon</label>
                <div class="controls">
                    <div class="span12">
                        <input type="text" name="telpon" class="span3" ng-model="data.telpon" />
                    </div>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" style="color: #040404">email</label>
                <div class="controls">
                    <div class="span12">
                        <input type="text" name="email" class="span3" ng-model="data.email" />

                    </div>
                </div>
            </div>
            
            <div class="control-group">

                <div class="controls">
                    <div class="span12">
                        
                        <input type="hidden" name="level" class="span3" ng-model="data.foto" ng-init="data.foto='none'"/>
                       
                    </div>
                </div>
            </div>
            <div class="control-group">

                <div class="controls">
                    <div class="span12">
                        
                        
                        <input type="hidden" name="level" class="span3" ng-model="data.level" ng-init="data.level='dosen'"/>
                    </div>
                </div>
            </div>

        </form>

    </div>
    <div class="modal-footer">
        <button type="button"  data-ng-click="closeModal()" class="btn">Close</button>
        <button ng-click="save(data, action)" class="btn btn-primary">Save changes</button>
    </div>
</div>

<footer class="win-ui-dark win-commandlayout navbar-fixed-bottom">
    <div class="container">
        <div class="row">

            <div class="span4 align-left">
                <a href="./index.html#!/home"class="win-command">
                    <span class="win-commandicon win-commandring icon-home"></span>
                    <span class="win-label">Home</span>
                </a>
                <hr class="win-command">
                <button class="win-command" ng-click="modalDosen('Tambah')" >
                    <span class="win-commandicon win-commandring icon-plus-5"></span>
                    <span class="win-label">Tambah</span>
                </button>
            </div>
            <div class="span8 align-right">
                <button class="win-command" ng-click="gotoPage(pagefirst)" ng-disabled="page <= pagefirst">
                    <span class="win-commandicon win-commandring   icon-first"></span>
                    <span class="win-label">Pertama</span>
                </button>
                <button class="win-command" ng-click="gotoPage(page - 1)" ng-disabled="page <= pagefirst">
                    <span class="win-commandicon win-commandring icon-previous"></span>
                    <span class="win-label">Sebelumnya</span>
                </button>
                <button type="button" class="win-command" ng-repeat="p in pagination" ng-click="gotoPage(p)">
                    <span class="win-commandicon win-commandring icon-grid"></span>
                    <span class="win-label">Page {{p}}</span>
                </button>
                <button class="win-command" ng-click="gotoPage('berikutnya')" ng-disabled="page >= pagelast">
                    <span class="win-commandicon win-commandring icon-next"></span>
                    <span class="win-label">Berikutnya</span>
                </button>
                <button class="win-command" ng-click="gotoPage(pagelast)" ng-disabled="page >= pagelast">
                    <span class="win-commandicon win-commandring  icon-last"></span>
                    <span class="win-label">Terakhir</span>
                </button>
            </div>
        </div>
    </div>
</footer>